.logo {
  a {
    text-decoration: none;
    color: #000000;

    p {
      font-size: 24px;
      font-weight: bold;
      margin-left: 5px;
      color: #000000;
    }
  }
}

.options {

  .option {
    padding-left: 10px;
    padding-right: 10px;
    border-right: #C4C4C4 1px solid;

    img {
      width: 24px;
      height: 24px;
      margin-left: 5px;
      border-radius: 50%;
    }

    fa-icon {
      font-size: 24px;
      color: #C4C4C4;
    }
  }
}
