<header>
        <div class="row p-4">
            <div class="col-md-12 d-flex flex-row justify-content-between">
                <div class="header-content logo">
                    <a href="/" class="d-flex flex-row justify-content-start">
                        <!-- <img src="" alt="logo"> -->
                        <p>TripGuide</p>
                    </a>
                </div>

                <div class="options d-flex flex-row">
                    <div class="option">
                        <p>USD <img src="../../../../assets/us.svg" alt="us"></p>
                    </div>
                    <div class="option option-separator">
                      <fa-icon [icon]="faBell"></fa-icon>
                    </div>

                    <div class="option option-separator">
                      <fa-icon [icon]="faBell"></fa-icon>
                    </div>
                </div>
            </div>
        </div>
</header>
